<form (submit)="buscar()">
  <input type="text" name="Texto" placeholder="Buscar..." [(ngModel)]="search">
  <button [disabled] = "!search">Buscar</button>
</form>
<p *ngIf="cargando">Cargando...</p>

<h2>Resultados de {{lastSearch | myUpperCase}} </h2>
<div class="panel">
  <div>
    <app-noticia-list (newItemEvent)="selectNoticia($event)" [noticias]="noticias"></app-noticia-list>
  </div>
  <div class="derecha">
    <app-noticia-details (newItemEvent)="selectNoticia($event)" (onClear)="clearCurrent" [item]="current"></app-noticia-details>
  </div>
</div>


